<div id="shop" class="shop-base">
    <a id="enterSection" class="loading-screen" (click)="showShop()">
        <div class="panel container-fluid vh-100">
            <div class="loading-wrapper">
                <div id="fallingVideoWrapper">
                </div>
                <span id="loadingText">ENTER SITE</span>
            </div>
        </div>
    </a>

    <div id="shopContent" class="container-fluid" style="padding-right: 25px;padding-left: 25px;">
        <span class="shipping-text">Please allow a little more time for shipping due to corona literally delaying the entire world</span>
        <span class="discount-text discount-text-2">Spend $90 get 10% off</span>
        <div class="row shop-items">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let item of shopItems">
                <div class="item-wrapper">
                    <img src="{{item.src}}" />
                    <div class="item-details">
                        <p class="item-name">{{item.name}} <span *ngIf="item.sizeGuideImg" class="size-chart" (click)="openSizeChartModal(item.sizeGuideImg)">Size Chart</span></p>
                        <p class="item-price">{{item.price}}</p>
                    </div>
                    <div id="{{item.divId}}"></div>
                </div>
            </div>
            <div class="col-12 contact-text-wrapper">
                <a class="contact-text" href="mailto:drewphillips@brandmarinade.com">CONTACT</a>
            </div>
        </div>
    </div>
    
    <div [style.display]="showSizeChartModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog centered-content">
          <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideSizeChartModal()" style="position: absolute;right: 7px;">
                    <span aria-hidden="true">&times;</span>
                </button>
              <img src="{{currentSizeChart}}" id="imagepreview" style="width: 100%;" >
            </div>
          </div>
        </div>
    </div>
        
</div>